/* ------------------------------------------------- */
/* These are customizations for the Libre Arts site.
/* Check with someone before hacking.
/* Usually patdavid or mica
/* ------------------------------------------------- */

/* Bootstrap sass variable hacking has to happen
   before importing bootstrap itself
  ----------------------------------------------
*/

/* Overriding default bootstrap dark theme color */
/* Link/Colors should be checked against
/* Web Content Accessibility Guidelines:
/* https://webaim.org/resources/linkcontrastchecker/
/* https://webaim.org/resources/contrastchecker/ */
/* $theme-colors: (
/*     "primary": #1A88FF,
/*     "dark": #222222
/* );


/* This nest+loop adds a bigger margin for all
/* headings when they follow p, code, ul, ol */
// .post-body {
//     @for $i from 1 through 6 {
//         p + h#{$i}, code + h#{$i},
//         ul + h#{$i}, ol + h#{$i} {
//             margin-top: 2rem;
//         }
//     }
// }
@for $i from 1 through 6 {
    p + h#{$i}, code + h#{$i},
    ul + h#{$i}, ol + h#{$i},
    blockquote + h#{$i}, div + h#{$i} {
        margin-top: 2rem;
    }
}

@for $i from 1 through 6 {
  h#{$i} a {
    text-decoration: none;
  }
  h#{$i} a:hover {
    // text-decoration: underline;
  }
}

$primary: #0460D9;

$theme-colors: (
  "primary": $primary,
);

/* IMPORT BOOTSTRAP HERE */
/* So set any bootstrap variables _before_ here */
@import 'bootstrap';

/* Our custom SASS imports */
/*
@import 'partials/homepage';
@import 'partials/typography';
*/

/* --------------------------------------- */
/* Normal CSS customization goes down here */
/* --------------------------------------- */


.page, .post, .homepage {
    margin-top: 3rem;
}

main {
  min-height: 85vh;
}

blockquote {
    border-left: solid 2px gray;
    padding-left: 0.5rem;
}

figure {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

img, figure img {
    max-width: 100%;
}

figcaption {
    text-align: left;
    padding-top: 0.5rem;
    border-left: solid 1px #ddd;
    padding-left: 0.5rem;

    h4 {
        margin-bottom: 0;
        font-size: 1.25rem;
    }

    p {
        color: $secondary;
    }
}

/* Header link icon */
.link-icon { display: none; }
a:hover .link-icon { display: inline; }

/* Table styling */
/* ------------- */

table {
  border-collapse: collapse;
}

table tr, td, th {
  padding: 0.5rem;
  border: solid 1px gray;
}

table thead {
  border-bottom: solid 2px gray;
}

/* Banner styling */
/* ------------- */

.banner {
  padding: 0.5rem;
  border: solid 2px green;
  border-radius: 5px;
  text-align: center;
  font-weight: bold !important;
}

.banner::before {
  content: "ℹ️ ";
}

/* Footer Styling */
/* -------------- */
.pixls-love {
    font-size: 0.9rem;
}
.heart {
    color: red;
    font-size: 1.6rem;
    vertical-align: middle;
}

/* Nav site title styling */
nav.navbar .navbar-brand {
}

nav .nav-item {
  margin-right: 0.5rem;
}

/* === FOOTER links === */
footer .nav-submenu {
    font-size: 1.2rem;
    line-height: 2rem;
}

/* Donate link */
a.donate {
    color:#f57900 !important;
    text-transform: uppercase;
}
