{{ define "main" }}

<div class="page row justify-content-center">
  <section class="{{ .Title | urlize }}-page col-lg-8">
    <h1 class="title">{{ .Title }}</h1>

    {{ if gt .WordCount 400  }}
        {{ if or (not (isset .Params "toc")) (.Params.toc) }}
          {{ partial "toc.html" . }}
        {{ end }}
    {{ end }}

    {{ .Content }}


    {{ if ne .Params.show_subs false }}
      {{ $.Scratch.Set "has_drafts" false }}
    <ul>
      {{ range .Data.Pages }}
        {{ if not (isset .Params "reviewstatus") }}
        <li>
          <a href="{{ .Permalink }}">
            <b>
              {{ .Title }}
            </b>
          </a>

          {{ if not .Date.IsZero }}
            <time>
              {{ .Date.Format (.Site.Params.dateform | default "Jan 02, 2006") }}
            </time>
          {{end}}

        </li>
        {{else}}
          {{ $.Scratch.Set "has_drafts" true }}
        {{end}}
      {{ end }}
    </ul>

      {{ if ($.Scratch.Get "has_drafts") }}
        <h2 id="drafts">Documents to Review</h2>
        <p> The following documents are in to be reviewed. They may be
        incomplete drafts, outdated, in need of completion after recent changes
        or some other reason.
        Therefore they should be read with a more critical mind.</p>
    <ul>
        {{ range .Data.Pages }}
          {{ if isset .Params "reviewstatus" }}
          <li>
            <a href="{{ .Permalink }}">
              <b>
                {{ .Title }}
              </b>
            </a>

            {{ if not .Date.IsZero }}
              <time>
                {{ .Date.Format (.Site.Params.dateform | default "Jan 02, 2006") }}
              </time>
            {{end}}

            (review reason: {{ .Params.reviewstatus }})
          </li>
          {{ end }}
        {{ end }}
    </ul>
      {{end }}

    {{ end }}

  </section>
</div>

{{ end }}
