{{ partial "head.html" . }}
  <body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
    <div class="titlebar">
      <a href="/">
        <img class="titlebarleft" src="/images/developer-left.png" alt="" />
      </a>
      <img class="titlebarright" src="/images/developer-right.png" alt="" />
    </div>
    <div class="webpage">
      <a name="home" id="home"></a>
      <table class="layout" summary="Navigation">
        <tr>
          {{ partial "sidebar.html" . }}
          <td class="main">
            <main class="content container">
            {{ block "main" . -}}{{- end }}
            </main>

            {{ if not .Site.IsServer }}
              {{ template "_internal/google_analytics.html" . }}
            {{ end }}
            <br />
          </td>
        </tr>
      </table>
    </div>
    <div class="linkbar">
      {{ $currentPage := . }}
      {{ range .Site.Menus.footer }}
      <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a> |
      {{ end }}
      <a href="https://docs.gimp.org/">GIMP Documentation</a> |
      <a href="https://www.gimp.org/">GIMP Website</a> |
      <a href="https://www.gegl.org/">GEGL Website</a>
    </div>
    <div>
      <span class="footerleft">
        <span class="copyright">Copyright © 2003-2022 The GIMP Development Team. </span>
      </span>
      <span class="footerright">
        <a href="mailto:webmaster@gimp.org">webmaster@gimp.org</a>
      </span>
    </div>
    <div style="clear: both; margin: 0; width: 100%; "></div>
    <!--
    <div class="validator">
      <span style="position: absolute; left: 0; font-size: xx-small;">
        <a href="http://validator.w3.org/check/referer">Validate XHTML</a>
      </span>
    </div>
    -->
  </body>
</html>
