<footer class='container mb-5'>
  <div class='row justify-content-center'>
    <div class='col-sm mt-2 mt-md-0 text-center text-md-start order-1'>
      {{/*
        <a href="http://www.gimp.org/">{{ i18n "GIMPWebsite" }}</a> |
        <a href="http://www.gegl.org/">{{ i18n "GEGLWebsite" }}</a> |
        <a href="https://docs.gimp.org/">{{ i18n "DocsWebsite" }}</a>
      */}}
      {{ with .Site.Menus.footer_left }}
        {{ range $key, $menu := . }}
          {{ if gt $key 0}} | {{end}}
          <a href="{{ $menu.URL }}">{{ $menu.Name }}</a>
        {{ end }}
      {{ end }}
    </div>
    <div class='col-sm mt-2 mt-md-0 text-center order-3 order-md-2'>
        &copy; {{ i18n "copyright" }} 2003-{{ now.Format "2006" }} {{ i18n "copyrightEntity" }}
    </div>
    <div class='col-sm mt-2 mt-md-0 text-center text-md-end order-2 order-md-3'>
       {{ $currentPage := . }}
       {{ $links := (.Site.Menus.footer) }}
       {{ $len := (len $links) }}
       {{ range $index, $element := $links }}
         <a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
         {{ if ne (add $index 1) $len }}
           |
         {{ end }}
       {{ end }}
    </div>
  </div>
</footer>

