<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
	<a class="navbar-brand" href="{{ .Site.BaseURL}}" rel="home" title=".Site.Title">
	    {{ .Site.Title | safeHTML }}
	</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
		{{ $currentPage := . }}
		{{ range .Site.Menus.main }}
		<li class="nav-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}">
                    <a class="nav-link" href="{{.URL}}">
			{{ .Pre }}
			<span>{{ .Name }}</span>
			<span class="visually-hidden">{{ i18n "current" }}</span>
		    </a>
		    {{ end }}
		</li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
		 <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{ i18n "search" }}</button>
		 </form> -->
	</div>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="nav-link donate" href="https://www.gimp.org/donating/">Donate</a>
	</div>
    </div>
</nav>
