{{ with .TableOfContents }}
  {{ if ne . "<nav id=\"TableOfContents\"></nav>" }}
    <div class='col border-bottom border-top pt-2 my-3'>
      <div class='h6 text-muted toctitle text-secondary'>Table of Contents</div>
      <small>
      {{ . }}
      </small>
    </div>
  {{ end }}
{{ end }}
