{{- $title := ( .Get 0 ) -}}
{{- $path := ( .Get 1 ) -}}

<details id="details-{{- print $path -}}">
  <summary>{{ $title | markdownify }} <button onclick='copyMarkdown(this)'>📋</button></summary>
  {{- print "```markdown\n" ( readFile $path ) "\n```\n" | markdownify -}}
</details>

{{ $details := resources.Get "/js/details.js" | resources.ExecuteAsTemplate "/js/details.js" . }}
{{ $javascript := slice $details | resources.Concat "/js/details.js" }}
<script src="{{ $javascript.Permalink }}"></script>
